<?php include('../subheader.php'); ?>
	<!-- 관리자 메뉴 -->
	<div class="adm-menu">
		<ul>
			<li><a href="./set.html">환경설정</a></li>
			<li><a href="./board.html">게시판 관리</a></li>
			<li><a href="./member.html">회원 관리</a></li>
			<li><a href="./popup.html">팝업 관리</a></li>
			<li><a href="./banner.html">배너 관리</a></li>
			<li class="on"><a href="./booking.html">장소 관리</a></li>
		</ul>
	</div>
	
	<!-- 장소 관리 장소 등록 박스 -->
	<div class="create-board">
		<h1>장소 등록</h1>
		<div class="write-form">
			<ul>
				<li>
					<label for="">장소 명</label>
					<input type="text" placeholder="장소 명">
				</li>
				<li>
					<label for="">사진#01</label>
					<input type="file">
				</li>
				<li>
					<label for="">사진#02</label>
					<input type="file">
				</li>
				<li>
					<label for="">사진#03</label>
					<input type="file">
				</li>
				<li>
					<label for="">상세설명</label>
					<textarea name="" id="" ></textarea>
				</li>
				<li class="check-box">
					<label for="">사용여부</label>
					<input type="checkbox" id=""> 
					<label for="" class="check-text">체크시 사용</label>
				</li>
			</ul>
		</div>
		<div class="write-btn">
			<a href="./booking.html">이전</a>
			<a href="#none">등록</a>
		</div>
	</div>
<?php include('../subfooter.php'); ?>