<!-- 상단 헤더 불러오기 -->
<?php include('../subheader.php'); ?>
<div class="snb-wrap">
	<div>
		<ul>
			<li><a href="./notice_list.html"><span>공지사항</span></a></li>
			<li><a href="./free_list.html"><span>자유게시판</span></a></li>
			<li class="on"><a href="./gallery_list.html"><span>갤러리</span></a></li>
		</ul>
	</div>
</div>

<div class="gallery-wrap">
	<div class="search-box">
		<div>
			<input type="text">
			<button>검색</button>
		</div>
	</div> <!-- search-box -->

	<div class="gallery-box">
		<ul data-aos="flip-right" data-aos-delay="100">
			<li data-aos="fade-up" data-aos-delay="100">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/beluga.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>벨루가</h3></a>
						<p>벨루가는 흰 돌고래</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="200">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/cat.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>고양이</h3></a>
						<p>행복하게 웃는 고양이</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="300">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/dog.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>강아지</h3></a>
						<p>피리부는 강아지</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="400">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/haedal.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>해달</h3></a>
						<p>수달아닙니다. 해달입니다.</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="500">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/haedal2.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>하위</h3></a>
						<p>수달아닙니다. 해달입니다. 인사하는 해달입니다.</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="600">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/squirrel.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>다람쥐</h3></a>
						<p>아이언맨 등장씬이 떠오르는 다람쥐</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
			<li data-aos="fade-up" data-aos-delay="700">
				<div>
					<div class="thum">
						<a href="./gallery_view.html"><img src="../img/sudal.jpg" alt=""></a>
					</div>
					<div class="info">
						<a href="./gallery_view.html"><h3>수달</h3></a>
						<p>수달입니다. 해달아닙니다.</p>
						<span>2021-05-03</span>
					</div>
				</div>
			</li>
		</ul>
	</div> <!-- gallery-box -->
	
	<div class="write-btn-box">
		<a href="./gallery_write.html">글쓰기</a>
	</div>

	<div class="paging">
		<div>
			<ul>
				<li><a href="#none">처음으로</a></li>
				<li><a href="#none">이전</a></li>
				<li class="on"><a href="#none">1</a></li>
				<li><a href="#none">2</a></li>
				<li><a href="#none">3</a></li>
				<li><a href="#none">다음</a></li>
				<li><a href="#none">마지막</a></li>
			</ul>
		</div>
	</div> <!-- paging -->
</div> <!-- gallery-wrap -->
<!-- 하단 푸터 불러오기 -->
<?php include('../subfooter.php'); ?>