<!-- 상단 헤더 불러오기 -->
<?php include('../subheader.php'); ?>
<div class="snb-wrap">
	<div>
		<ul>
			<li><a href="./notice_list.html"><span>공지사항</span></a></li>
			<li><a href="./free_list.html"><span>자유게시판</span></a></li>
			<li class="on"><a href="./gallery_list.html"><span>갤러리</span></a></li>
		</ul>
	</div>
</div>

<div class="gallery-view-wrap">
	<div class="gallery-box">
		<div class="view">
			<h2>벨루가</h2>
			
			<div class="view-hd">
				<span>등록일 : 2021-04-27</span>
				<p>작성자 : <b>관리자</b></p>
			</div>

			<div class="view-content">
				<p>벨루가는 흰 돌고래</p>
				<p>갤러리 작성은 textarea로 작성이 되었습니다.</p>
			</div>

			<div class="view-file">
				<a href="#none"><i class="fa fa-download" aria-hidden="true"></i> 첨부파일 다운로드.jpg</a>
				<a href="#none"><i class="fa fa-download" aria-hidden="true"></i> 첨부파일 다운로드.jpg</a>
			</div>
		</div> <!-- view -->
	</div> <!-- gallery-box -->
	<div class="write-btn-box">
		<a href="#none">삭제</a>
		<a href="./gallery_write.html">수정</a>
		<a href="./gallery_list.html">이전</a>
	</div>
</div> <!-- gallery-view-wrap -->
<!-- 하단 푸터 불러오기 -->
<?php include('../subfooter.php'); ?>