<!-- 상단 헤더 불러오기 -->
<?php include('../subheader.php'); ?>
<div class="snb-wrap">
	<div>
		<ul>
			<li class="on"><a href="./notice_list.html"><span>공지사항</span></a></li>
			<li><a href="./free_list.html"><span>자유게시판</span></a></li>
			<li><a href="./gallery_list.html"><span>갤러리</span></a></li>
		</ul>
	</div>
</div>

<div class="notice-view-wrap">
	<div class="notice-box">
		<div class="view">
			<h2>공지사항 입니다.</h2>
			
			<div class="view-hd">
				<span>등록일 : 2021-04-27</span>
				<p>작성자 : <b>관리자</b></p>
			</div>

			<div class="view-content">
				<p>공지사항 작성 후 출력 되는 페이지 입니다.</p>
				<p>공지사항 작성은 textarea로 작성이 되었습니다.</p>
			</div>

			<div class="view-file">
				<a href="#none"><i class="fa fa-download" aria-hidden="true"></i> 첨부파일 다운로드.jpg</a>
				<a href="#none"><i class="fa fa-download" aria-hidden="true"></i> 첨부파일 다운로드.jpg</a>
			</div>
		</div> <!-- view -->
	</div> <!-- notice-box -->
	
	<div class="write-btn-box">
		<a href="./notice_list.html">목록으로</a>
		<a href="./notice_write.html">수정</a>
		<a href="#none">삭제</a>
	</div>

</div> <!-- notice-view-wrap -->
<!-- 하단 푸터 불러오기 -->
<?php include('../subfooter.php'); ?>